* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
   
}

.container ul {
    list-style-type: none;
    display: flex;
    
}

.container ul li {
    margin:1rem 5rem 1rem 5rem;
}
a{
    text-decoration: none;
    color: white;
}
#container1{
    background-color: aquamarine;
    width:100vw;
    height:30vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
   
}
.child{
    background-color: blueviolet;
    width:30vw;
    height:8vh;
    margin: 1em;
}
.c1{
    width:10vw;
    position: absolute;
    left:20vw;
   
    background-color: brown;
    /* align-self:normal;
    align-self:center; */
}
