*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: grid;
    background-color: aqua;
    grid-template-columns: auto auto auto auto auto auto ;
  
    color:white;
    font-size: xx-large;  
    /* grid-template-areas:'header header header header header header '
    'menu main main right right''footer footer'; */


}
.child{
    text-align: center;
    border: 2px solid gray;
  
    
}
.item1{
    /* grid-area: header; */
    grid-area: 1/1/2/7;
}
.item2{
    /* grid-area: menu; */
    grid-area: 2/1/4/2;
}
.item3{
    /* grid-area: main; */
    grid-area: 2/2/3/5;
}
.item4{
    grid-area: 2/5/3/7;
    /* grid-area: righte; */
}
.item5{
    grid-area: 3/2/4/7;
    /* grid-area: footer; */
}