*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
}

.card{
    padding: 23px 12px;
    margin: 23px 12px;
    background-color: chocolate;
    /* box-shadow:offset-x offset-y color; */
    /* box-shadow:offset-x offset-y boder-radius color; */
    /* box-shadow:offset-x offset-y border-radius spread-radius color; */
    /* box-shadow:inset offset-x offset-y color; */

    box-shadow: 10px 10px violet;
    /* negative value frupper portion  */
    box-shadow: -10px -10px violet;  
    box-shadow: 10px 10px  10px violet;  
    box-shadow: inset 10px 10px 10px violet; 
      /* inset for inside the box */

}
h1{


    /* inset not work in texts */
    text-shadow: -2px -3px brown;  
    text-shadow: 2px 3px  5px blue;
    /* text-shadow: 2px 3px 5px violet; */
}