*{
    margin: 0%;
    padding:0;
}

header{
    background-color: dimgray;
    font-family:'Times New Roman', Times, serif;
    
    
}
h1{
    text-align: center;
    color: white;
    font-size: 60px;
}
nav{
background-color: dimgray;
border: 2px solid rgb(226, 217, 217);
text-align: center;

}
footer{
    text-align: center;
    background-color: dimgrey;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
    
}
.container5{
    margin: 10px;
    padding: 5px;
    text-align: center;
}
/* .container6{
    margin: 10px;
    padding: 5px;
} */
h2{
    margin: 10px;
}
.container1{
    background-color:whitesmoke;
    /* text-align: center; */
    margin: 10px;
    padding: 98px;
}
ul{
    
        text-align: center;
        list-style-position: inside;

}
li{
    margin: 2px;
  
}