*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main_container{
    position: relative;
  
}
.giftos{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
margin: 20px;
}
.navbar{
width: 80vw;
background-color:#f9ece6;
padding: 2px;
text-align: center;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
position: relative;
left: 10%;

}
.nav_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 20px;

}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login img{
    margin-right: 5px;
    height: 15px;
    width:20px;
    align-self:flex-start;
}

.login a{
    align-self:flex-start ;
}
.mall{
    align-self:flex-start;
}

.nav_list li{
    list-style-type: none;
    margin:0em 1em 0em 1em;
   
}
.nav_list a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}



.div2{
    width:80vw;
    display: flex;
    flex-wrap: wrap;
    background-color:#f89cab;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    left: 10%;
    /* padding: 3px; */
  
}
.div2_child{
    max-width:40em;
    /* margin: 20px; */
 
}
.div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  

}
.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0px 0px 70px;
}
.div2_child h1{
    margin: 30px;
}
.div2_child p{
    margin: 20px;
}
.div2_child h1,p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.div2_child img{
    max-width: 172.38px;
    min-height: 292.56px;
}
.contact{
    font-size: 16px;
    background-color: #de2462;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 168px;
    height:48px;
    /* padding: 10px 20px; */
    border: 0px;
    border-radius: 5px;
    /* position:relative;
   */
   
   
}
.contact:hover{
    background-color: transparent;
    color: #de2462;
    border: 2px solid #db4567;
}
.latest{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
position: relative;
/* display: inline;
top: 50px; */

}

.div3_column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}
.div3_row{
    background-color: rgb(216, 212, 212);
    margin: 1em;
    width: 200px;
    height: 350px;
    border-radius: 5px;
    position: relative;
}
.circle{
    background-color: white;
    width:60px;
    min-height: 60px;
    border-radius: 50%;
    position: relative;
    padding: 2px;
    display: inline-block;
    margin: 10px;
}
.circle h4{
    font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}
.circle h4:hover{
    color:#db4567;
}
.div3_row img{
    width:70px;
    height: 70px;
    padding: 2px;
    margin: 50px;
    position: relative;
    display: inline-block;
   right: 40px;
   left: 10px;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.price{
    display: inline-block;
    margin-top:20px;
}
.name span{
    color: #db4567;
}
.view{
    background-color: #db4567;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.div4{
    background-color: skyblue;
    width: 80vw;
    position: relative;
    left: 10%;
    align-items: stretch;
    padding: 3px;
    border: 0px;
    border-radius: 10px;
    margin: 30px;
}
.div4_child{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
}
.div4_row{
    position: relative;
    margin: 2em;
}
.div4_row2{
    position: relative;
    display: inline-block;
    top: 50px;
    padding: 20px;
}

.div4_row img{
    width: 250px;
    height: 300px;
    padding: 5px;
    display: inline-block;
    top:0px;
}
.div4_row2 h2{
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
width: 183.46px;
height: 183.47px;

}
.div4_row2 p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 572.13px;
    height: 92.97px;
    font-size: 20px;
    margin: 20px 0px;
}
.buy{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(85, 184, 224);
    border: 0px;
    border-radius: 5px;
    width:140px;
    height: 50px;
    padding: 5px;
}
.see{
    display: inline-block;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    width:140px;
    height: 50px;
    padding: 5px;
    
}
.button{
    text-align: center;
    border: 0px;
    margin-top: 10px;
    margin-left: 40px;
    flex-wrap: wrap;
}
.why{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
position: relative;
}
.shop-row{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
 
}
.row1{
    width: 200px;
    height: 200px;
    background-color:rgb(249, 246, 246);
    margin: 1em;
}
.image{
    text-align: center;
    margin-top: 30px;
    
}
.row1 h3{
    font-family: Arial, Helvetica, sans-serif;
     /* margin:20px; */
     display: inline-block;
     margin-top: 20px;
     margin-left: 30px;
}
.row1 p{
    font-family: Arial, Helvetica, sans-serif;
    width:140px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding: 2px;

}
.div5{
    background-color:blueviolet;
    width: 80vw;
    position: relative;
    left: 10%;
    align-items: stretch;
    padding: 3px;
    border: 0px;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;

}

.div5_row{
    position: relative;
    margin: 2em;
}
.div5_row2{
    position: relative;
    display: inline-block;
    top: 90px;
    padding: 20px;
}

.div5_row img{
    width: 250px;
    height: 300px;
    padding: 5px;
    display: inline-block;
    top:0px;
}
.div5_row2 h2{
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
width: 183.46px;
height: 183.47px;

}
.div5_row2 p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 572.13px;
    height: 92.97px;
    font-size: 20px;
    margin: 60px 0px;
}
.buy1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color:rgb(175, 103, 242);
    border: 0px;
    border-radius: 5px;
    width:140px;
    height: 50px;
    padding: 5px;
}
.gift_button{
    display: inline-block;
    margin-top:30px;
}

.contact-us{
    text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
position: relative;
}
.div6{
    width: 40vw;
    position: relative;
    left: 10%;
    align-items: stretch;
    padding: 3px;
    border: 0px;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;

}

.div6_row{
    position: relative;
    margin: 2em;
}
.test{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    position: relative;
}

.div-testimonial{
    border: 1px solid black;
    width:40vw;
    margin: auto;
   
}
.rochak{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #db4567;
   margin: 20px;
}
.default{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(201, 197, 197);
    margin: 10px;
}

.div-testimonial p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    margin: 10px;
    text-align: justify;
}
.footer{
    background-color:black;
    width: 80vw;
    position: relative;
    left: 10%;
    align-items: stretch;
    padding: 3px;
    border: 0px;
    border-radius: 10px;
    margin: 30px;  
}
@media only screen and (max-width:975px){
    .nav_list li{
        margin:1em;
    }

}

@media only screen and (max-width:400px){
    .nav_list {
       flex-direction: column;
    }
}
@media only screen and (max-width:400px){
    .mall {
       align-self: center;
    }
}
@media only screen and (max-width:190px){
    .nav_list a{
       font-size: 12px;
    }
}


@media only screen and (max-width:1700px){
    .div-img{
       order: -1;
    }
    .div2{
        flex-direction: column;
        
        
    }
    .div2_child{
        margin: auto;
    }
    /* .div3_row{
        width: 100%;
    } */
    .contact{
        margin-bottom: 30px;
    }
    
}

