*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main_container{
    position: relative;
  
}
.main_container h1{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
margin: 20px;
}
.navbar{
width: 80vw;
background-color:#f9ece6;
padding: 2px;
text-align: center;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
position: relative;
left: 10%;

}
.nav_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 10px;

}
.nav_list li{
    list-style-type: none;
    margin-right:1em;
   
}
.nav_list a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}



.div2{
    width:80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#f89cab;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    left: 10%;
    align-items: stretch;
    padding: 3px;
    /* height: 400px; */
}
.div2_child{
    position: relative;
    /* margin: 10px; */

}

.div2_child h1{
font-size: 64px;
font-family: Arial, Helvetica, sans-serif;
color: white;
width:600px;
height: 48px;
margin: 42.8px 0px;
padding: 2px;
display: inline-block;


}
.div2_child p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width:550px;
    height: 54px;
    margin:16px 0px;
    line-height: 20px;
}
.div2_child img{
    width: 172.38px;
    height: 292.56px;
    padding: 30px;
}
.contact{
    font-size: 16px;
    background-color: #de2462;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 168px;
    height:48px;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    position:relative;
    margin-top: 20px;
    bottom: 0px;
   
}
.latest{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
position: relative;
/* display: inline;
top: 50px; */

}

.div3_column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}
.div3_row{
    background-color: rgb(216, 212, 212);
    margin: 1em;
    width: 200px;
    height: 350px;
    border-radius: 5px;
    position: relative;
}
.circle{
    background-color: white;
    width:60px;
    min-height: 60px;
    border-radius: 50%;
    position: relative;
    padding: 2px;
    display: inline-block;
    margin: 10px;
}
.circle h4{
    font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}
.circle h4:hover{
    color:#db4567;
}
.div3_row img{
    width:70px;
    height: 70px;
    padding: 2px;
    margin: 50px;
    position: relative;
    display: inline-block;
   right: 40px;
   left: 10px;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.price{
    display: inline-block;
    margin-top:20px;
}
.name span{
    color: #db4567;
}
.view{
    background-color: #db4567;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 50px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}