* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.giftos {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin: 20px;
}

.navbar {
    background-color: #f9ece6;
    padding: 2px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    margin: 2rem 2rem 0rem 2rem;

}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 20px;

}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login img {
    margin-right: 5px;
    height: 15px;
    width: 20px;
    align-self: flex-start;
}

.login a {
    align-self: flex-start;
}

.mall {
    align-self: flex-start;
}

.nav_list li {
    list-style-type: none;
    margin: 0em 1em 0em 1em;

}

.nav_list a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.div2 {
    margin: 0em 2em 2em 2em;
    background-color: #f89cab;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px 0px 10px 10px;

}

.welcome {
    margin: 4em;
}

.img-div img {
    max-width: 172.38px;
    min-height: 292.56px;

}

.contact {
    font-size: 16px;
    background-color: #de2462;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 200px;
    min-height: 40px;
    margin: 20px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}

.contact:hover {
    background-color: transparent;
    color: #de2462;
    border: 2px solid #db4567;
}

.latest {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-top: 40px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

.items-container {
    background-color: rgb(194, 189, 189);
    width: 250px;
    height: 250px;
    margin: 1em;
    border-radius: 5px;
}

.item-img img {
    max-width: 70px;
    height: 70px;
}

.circle {
    background-color: white;
    max-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;

}

.circle h4:hover {
    color: #db4567;
}

.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 10px;
}

.item h4 {
    margin: 10px;
}

.name span {
    color: #db4567;
}

.view {
    background-color: #db4567;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    min-height: 40px;
    padding: 20px;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.div-savings {
    display: flex;
    margin: 2em 2em 2em 2em;
    background-color: skyblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 20px;
}

.img-div2 img {
    max-width: 60%;
    min-height: 80%;

}

.saving-content {
    margin: 4em;
}

.saving-content p {
    margin: 10px;

}

.button {
    text-align: center;
    border: 0px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;

}

.buy {
    margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(85, 184, 224);
    border: 0px;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    padding: 5px;

}

.see {
    margin: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    padding: 5px;

}

.why {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-top: 40px;
}

.shop-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.row1 {
    max-width: 200px;
    height: 250px;
    background-color: rgb(249, 246, 246);
    margin: 1em;
}

.image {
    text-align: center;
    margin-top: 30px;

}

.row1 h3 {
    font-family: Arial, Helvetica, sans-serif;
    /* margin:20px; */
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
}

.row1 p {
    font-family: Arial, Helvetica, sans-serif;
    width: 140px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding: 2px;
    color: black;

}

.div-gift {
    margin: 0em 2em 2em 2em;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;

}

.gift {
    margin: 4em;
}

.gift p {
    margin: 10px;
}

.img-div3 img {
    max-width: 300px;
    height: 200px;

}

.buy-color {
    background-color: white;
    color: black;
}

.see-color {
    background-color: rgb(177, 120, 231);
    color: white;
}

.contact-us {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-top: 40px;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
   
}

.input-item {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    height: 638px;

}

.input-item input {
    width: 100%;
    height: 20%;
    margin: 10px;
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
}


.test {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-top: 40px;
}

.div-testimonial {
    border: 1px solid black;
    width: 40vw;
    margin: 20px;
    margin: auto;
    margin-top: 20px;
}

.rochak {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #db4567;
    margin: 20px;
}

.default {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(201, 197, 197);
    margin: 20px;

}

.div-testimonial p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    margin: 10px;
    text-align: justify;
    color: black;
}

.footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.div-icons {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin:20px;
   
}

.div-icons img{
  max-width: 40px;
  min-height: 40px;
  margin: 5px;
}
.footer-content{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-content h2{
    text-align: center;
}

.user-input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.about-us{
   
    max-width: 150px;
    min-height: 100px;
    margin:20px;
}
.newsletter{
    max-width: 150px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-input input{
  
}
.emailbox{
   text-align: center;
    width: 120px;
    height: 20px;
}
.subscribe{
    background-color: #de2462;
    color: white;
    margin: 10px;
    font-size: 12px;
    border-radius: 1px;
    border: 0px;
    width: 80px;
    height: 20px;
    
}
.needhelp{
    max-width: 150px;
    min-height: 100px;
    margin: 20px;
}
.footer-content p{
    margin: 10px;
}
.div-contactus{
    max-width: 150px;
    min-height: 100px;
}
.last{
    display: flex;
   
}
.footer-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-contact img{
    margin: 10px;
}
.div-contactus img{
  max-width: 20px;
  
}
.contact-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.underline{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.footer_p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  
  }
  .box {
   
    border-bottom: 2px solid white;
   
  }
@media only screen and (max-width:975px) {
    .nav_list li {
        margin: 1em;
    }

}

@media only screen and (max-width:400px) {
    .nav_list {
        flex-direction: column;
    }
}

@media only screen and (max-width:400px) {
    .mall {
        align-self: center;
    }

    .div2 {
        margin: 0;
    }
}

@media only screen and (max-width:190px) {
    .nav_list a {
        font-size: 12px;
    }
}


@media only screen and (max-width:1160px) {
    .div2 {
        flex-direction: column;

    }

    .img-div {
        order: -1;
        margin: auto;
    }


    /* .div2_child{
        margin: auto;
    } */
    /* .div3_row{
        width: 100%;
    } */
    .contact {
        margin-bottom: 30px;
    }

}

@media only screen and (max-width:1128px) {
    .product1 {
        /* width: 50%; */
        display: flex;
        flex-direction: column;
    }

    .product2 {
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width:1128px) {
    .second-product {
        display: flex;
        flex-wrap: wrap;

    }

}

@media only screen and (max-width:603px) {
    .row1 {

        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}

@media only screen and (max-width:700px) {
    .navbar {
        width: 100%;
        margin: 0px;
    }

    .div2 {
        margin: 0px;
        width: 100%;
    }

    .products {
        margin: 0px;
        width: 100%;
    }

    .div-savings {
        margin: 0px;
        width: 100%;
    }

    .row1 {

        /* margin: 0px; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .view-products {
        margin-bottom: 10px;
    }

    .row1 p {
        width: 100%;
        padding: 10px;
    }

    .map {
        margin: 0px;
    }

    .input-item {
        margin: 0px;
        max-width: 100%;

    }

    .div-gift {
        margin: 0px;
        width: 100%;
    }

    .div-testimonial {
        margin: 0px;
        width: 100%;
    }
    .footer{
        max-width: 100%;
        margin: 0px;
    }
    .contact-form{
        max-width: 100%;
        margin: 0px;
    }


}

@media only screen and (max-width:870px) {
    .input-item input {
        width: 100%
    }
}

@media only screen and (max-width:911px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       
    }
   .about-us{
    max-width: 100%;
   }
   .newsletter{
    max-width: 100%;
   }
   .needhelp{
    max-width: 100%;
   }
   .div-contactus{
    max-width: 100%;
   }
}