*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main_container h1{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
margin: 20px;
}
.navbar{
width: 70vw;
background-color:#f9ece6;
padding: 2px;
text-align: center;
margin-left: 150px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.nav_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav_list li{
    list-style-type: none;
    margin: 2em;
   
}
.nav_list a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}



.div2{
    width:70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#f89cab;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 150px;
    position: relative;
}
.div2_child h1{
font-size: 64px;
font-family: Arial, Helvetica, sans-serif;
color: white;
width:693.41px;
height: 48px;
position:absolute;
margin: 42.8px 0px;


}
.div2_child p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width:693.41px;
    height: 54px;
    margin:16px 0px;
}
.contact{
    font-size: 20px;
    background-color: #de2462;
}
