*{
    margin: 0px;
    padding: 0px;
}
#div1{
    
    background-image:url("./images/IN-en-20230911-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    /* width:1654px; */
    width:100vw;
    height:80vh;
    border-bottom: 6px solid gray;
    background-size: cover;
    /* opacity:75%; */
    /* background-color:rgba(152, 66, 211, 1); */
  
}
.navbar{
    position: relative;
    /* width: 100% !important;
    padding: 30px 100px; */
    margin: 0px 0px 0px -16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px;
  
}
.navbar span{
    font-size: xx-large;
    color: red;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-variant: small-caps;
    font-style: italic;
    margin-left:10em;
 
}
/* .img{
    width: 170px;
    left: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

   
} */

#b1{
    background-color:red;
    /* border: 2px solid black; */
    color: white;
    /* padding: 15px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-family:Arial, Helvetica, sans-serif;
    width:76.91px;
    height: 32px;
    box-shadow: 2px 2px 8px #999;
    
}

.select_button{
    position: relative;
    width:35%;
    display: inline;

}

#b1:hover{
   /* background-color: black; */
   opacity:0.70;
}
.select_button select{
   
    background-color: black;
    color:white;
    width: 150px;
    height: 32px;
    padding: 6px 36px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #999;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
  
}

.content {
 position: relative;
color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction:column;
flex-wrap: wrap;
top:20%;
font-family: Arial, Helvetica, sans-serif;

}
.content h1{
    /* width:1282px;
    height: 30px; */
    font-size:48px;
}

.content_child{
    margin: 1em;
    
}
.content p{
    /* width:1282.33px;
    height:30px; */
    font-size:24px;
}
.content h3{
    font-size:20px; 
}
#start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
}
.email{
    /* width: 100%;
    font-size: 10px;
    width: 30vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: black; */
    width: 300px;
    height: 20px;
    padding: 24px 16px 8px;
    border-color: black;
    border: 1px solid white;
    font-size: 15px;
    background: transparent;
   
    
}
#start_button{
    background-color: red;
    border: 2px solid white;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 0px 10px;
    cursor: pointer;
    border-radius: 7px;
    font-family:Arial, Helvetica, sans-serif;
    width:209.25px;
    height:56px;
    
}
#start_button:hover{
  opacity:0.75
}
::placeholder{
    color:white;
}



#div2{
    background-color: black;
    width:100vw;
    border-bottom: 6px solid gray;
    padding: 72px 0px;
}
.divv2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 185.828px;
}
.div2_child {
    width: 641.16px;
    height: 162px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.innerchild_div2child{
    width: 635.16px;
    height: 476.36px;
}
.div2_child h2{
    width: 635.16px;
    height: 62px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 48px;
}
.div2_child p{
    width: 635.16px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    margin: 16px 0px 0px;
   
}







#div3{
    background-color: black;
    width:100vw;    
    border-bottom: 6px solid gray;  
    padding: 72px 0px;
}
.divv3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 185.828px;
}
.div33_child{
    width: 640px;
    height: 480px;
}

.innerchild_div3child h2{
    width: 523.91px;
    height: 124px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 48px;
}
.innerchild_div3child p{
    width: 523.91px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
   
}









#div4{
    background-color: black;
    width:100vw;
    border-bottom: 6px solid gray;
    padding: 72px 0px;
    
}
.divv4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 185.828px;
}
.div4_child {
    width: 641.16px;
    height: 162px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.innerchild_div4child{
    width: 635.16px;
    height: 476.36px;
}
.div4_child h2{
    width: 635.16px;
    height: 62px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 48px;
}
.div4_child p{
    width: 635.16px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
   
}








#div5{
    background-color: black;
    width:100vw;
    border-bottom: 6px solid gray;
    padding: 72px 0px;
   
}
.divv5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 185.828px;
    
}
.div5_child {
    width: 641.16px;
    height: 192px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.div5_child h2{
    width: 635.16px;
    height: 62px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 48px;
}
.div5_child p{
    width: 635.16px;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
   
}
.innerchild_div5child{
    width: 635.16px;
    height: 476.36px;
}








#div6{
    background-color: black;
    border-bottom: 6px solid gray;
    width:100vw;
    padding: 72px 0px;
}
.divv6{
       
    margin-left: 250px;
}
.divv6 h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
}
.button1{
    width:796.55px;
    height: 68.79;
   background-color:  #444343;
    text-decoration: none;
    margin-top: 35px;
    text-align: left;
    border: 0px;
    margin-right:300px;
  
}
.divv6 span{
    width:125.04px;
    height: 20.8px;
    font-size: 18px;
    background-color:#444343;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    
   
}
.div6_child{
    background-color: #444343;
    width:1200px;
    height: 40px;
     padding: 24px 0px  60px 24px ;
    
    
}
.div6_child:hover{
    opacity:0.75
}

.bb1{
    margin: 10px;
}
.bb2{
    margin: 10px;
}
.bb3{
    margin: 10px;
}
.bb3{
    margin: 10px;
}
.bb4{
    margin: 10px;
}
.bb5{
    margin: 10px;
}
.bb6{
    margin: 10px;
}

.divv6 h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width:920px;
    height: 84px;
    text-align: center;
    margin-top: 30px;
}
.sub{
    margin-right: 800px;
}
.sub1{
    margin-left: 300px;
}
.plus_icon{

}






#div7{
        background-color: black;
        width:100vw;
        border-bottom: 6px solid gray;
        padding: 10px 0px;
        position: relative;
        
     
    }
    .divv7{
        position: relative;
    }
    #div7 h3{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: block;
        margin-left: 50px;
        margin-top: 2px;
        position:absolute
    }
  
    .child7 a{
        color: white;
        display: block;
      line-height: 20px;
      margin-right: 50px;
    }

    .innerchild_div7child{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        position: relative;
        margin-top: 30px;
        
      
    }
    
    .child7{
        margin:2em;
    }

    .last span{
        color: white;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
       
    }
    .last{
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .second{
        margin-left: 30px;
        margin-top: 90px;
        position: relative;
    }
   