*{
    margin: 0px;
    padding: 0px;
}
#div1{
    
    background-image:url("./images/IN-en-20230911-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    width:100vw;
    height: 90vh;
    border: 6px solid gray;
    background-size: cover;
    opacity:75%;
    /* background-color:rgba(152, 66, 211, 1); */
  
}
.navbar{
    position: relative;
    width: 100% !important;
    padding: 30px 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}
.img{
    width: 170px;
    left: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

   
}

#b1{
    background-color:red;
    border: 2px solid black;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.select_button{
    position: relative;
    width:35%;
    display: inline;

}

#b1:hover{
   background-color: black;
}
.select_button select{
   
    background-color: black;
    color:white;
    width: 100px;
    width: 140px;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #999;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
  
}

.content {
 position: relative;
color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction:column;
flex-wrap: wrap;
top:20%;
font-family: Arial, Helvetica, sans-serif;

}
.content h1{
    font-size:xx-large;
}

.content_child{
    margin: 1em;
    
}
.content p{
    font-size:20px;
}
.content h3{
    font-size:20px; 
}
#start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
}
.email{
    /* width: 100%;
    font-size: 10px;
    width: 30vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: black; */
    width: 300px;
    padding: 10px 20px;
    border-color: black;
    border: 2px solid black;
    font-size: 15px;
    background: transparent;
   
    
}
#start_button{
    background-color: red;
    border: 2px solid white;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    font-family:Arial, Helvetica, sans-serif;
    width:15vw;
    height:7vh;
    
}
::placeholder{
    color:white;
}
#div2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:black;
    width: 100vw;
    height:50vh ;
    border: 6px solid gray;
    color: white;
  
   
}
.div2_child{
  display: flex;  
  flex-direction:column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  margin:6em;
  width:50vw;
 
}
.div2_child h1{
    font-size: 3em;
}
