*{
    margin: 0px;
    padding: 0px;
}
#div1{
    
    background-image:url("./images/IN-en-20230911-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    width:100vw;
    height: 80vh;
    border: 6px solid gray;

}
.navbar{
    position: relative;
    width: 100% !important;
    padding: 30px 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1em;
}
.img{
    width: 170px;
    left: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

   
}

#b1{
    background-color:red;
    border: 2px solid black;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.select_button{
    position: relative;
    width:35%;
    display: inline;

}

#b1:hover{
   background-color: black;
}
.select_button select{
   
    background-color: black;
    color:white;
    width: 100px;
    width: 140px;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #999;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
  
}

.content {
 position: relative;
color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction:column;
flex-wrap: wrap;
top:15vw;
font-family: Arial, Helvetica, sans-serif;

}
.content h1{
    font-size:xx-large;
}

.content_child{
    margin: 1em;
    
}
.content p{
    font-size:30px;
}
.content h3{
    font-size:30px; 
}
#start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.email{
    width: 100%;
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: black;
   
    
}
#start_button{
    background-color: red;
    border: 2px solid white;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    font-family:Arial, Helvetica, sans-serif;
    width:10vw;
    
}
::placeholder{
    color:white;
}
#div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: 100vw;
    height:50vh ;
    border: 6px solid gray;
    color: white;
}