*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}


.navbar{
    padding: 8px 24px;
    width: 100vw;
    position: relative;
   
}
.listing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none ;
    position: relative;
    margin-top: -100px;
    margin-left: 300px;
    margin-bottom: 10px;
    /* margin: 0px 0px 24px;
    padding: 0px 5px 5px 20px; */
}
.listing li:hover{

  text-decoration: underline ;
}
.theodinproject{
    margin-top: -90px;
    display: inline-block;
    padding: 3px;
    margin-bottom: 90px;
    margin-right: 600px;
    position: relative;
    margin-top: 10px;
}
.navbar a{
    color: rgb(155, 154, 154);
    text-decoration: none;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.navbar li{
    position: relative;
    /* margin-right: 10px; */
    margin-left: 90px;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 60px;
}
li button{
    background-color:rgb(97, 158, 143);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 2px;
}
li button:hover{
  opacity: 0.70;
}
.div1 h1{
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    margin-right: 20px;
}
.div1 p{
    color: #6B7280;
    line-height: 30px;
    font-size: 20px;
    margin-left:700px;
    margin-top: 10px;
    width: 500px;
    height: 56px;
    font-family: Arial, Helvetica, sans-serif;
}
.under_h3tag{
display: block;
margin-left: 70px;

}
.view{
    background-color: white;
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   border: 1px solid rgb(242, 240, 240);
   border-radius: 5px;
   width: 180px;
   height: 40px;
   padding: 2px;
   margin-left: 800px;
   margin-top: 10px;
}




.content_child{
    width: 768px;
    height: 140px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.content_child h2{
    font-size: 30px;
    margin-left: 300px;
    color: #1F2937;
}
.content_child p{
    font-size: 18px;
    margin-top: 15px;
    width: 768px;
    height: 84px;
    line-height:40px;
    margin-left: 70px;
    color: #4B5563;
    
}
.p_span1{
    margin-left: 5px;
}
.p_span2{
    display: block;
    margin-left: -20px;
}
.p_span3{
    display: block;
 margin-left: 200px;
}
.center_img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.image_div{
    /* margin: 1em; */
    width:341.33px;
    height: 372px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.image_div h3{
    font-size: 20px;
    color: #4B5563;
    margin: 32px 0px 16px;
    width: 301.33px;
    height: 28px;
    
}
.image_div p{
    color: #4B5563;
    font-size: 16px;
}
.i_div1 p{
  width: 301.33px;
  height: 72px;
}
.i_div1 img{
    width:106.06px;
    height:160px;
}
.i_div2 img{
    width:206.44px;
    height:160px;
}
.i_div3 img{
    width:174.86px;
    height:160px;
}
.i_div2 p{
    width: 301.33px;
    height: 96px;
  }
  .i_div3 p{
    width: 301.33px;
    height: 72px;
  }
  

  .div3{
    background-color: #d5d5d6;
    position: relative;

  }
  .div3 h2{
    color: #1F2937;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   position: absolute;
   margin-top: 30px;
   margin-left: 700px;
  
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .div3_child1 img{
    width:144px;
    height:160px;
    margin-left: 10px;
    
  }

  .div3_child1 h3{
     color: #4B5563;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     margin: 16px 0px 0px;
     width:135px;
     height:30px;
     text-align: center;
     
  }
  /* .ruby{
    width:200px;
  } */
  
  .div3_child1{
    background-color: white;
    width:200px;
    height: 200px;
    margin: 16px;
    position: relative;
    margin-top: 90px;
  padding:24px 40px;  
  border-radius: 10px;
}
.secondclass{
    width:200px;
    height: 300px;
  }
  .explore_curriculum{
    background-color: white;
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   border: 1px solid rgb(242, 240, 240);
   border-radius: 5px;
   width: 180px;
   height: 40px;
   padding: 2px;
   margin-left: 800px;
   margin-top: 10px;
   margin-bottom: 50px;
  }



  .div4{
    background-color:#f6f8fa;
    /* position:relative;
   */
    
  }
  .div4 h2{
    /* position:absolute; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    /* margin-top: 20px; */
    margin-left: 800px;
    color: #1F2937;
    width:1024px;
    height:36px;
  }
  .div4_innerchild img{
   width:48px;
   height:48px;
   border-radius: 100px;
  }

  .div4_content a{
    color:#111827;
    font-size: 16px;
  }
  .div4_content p{
    width:480px;
    height:84px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4B5563;
    margin-top: 10px;
  }
  .div4_child{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position:absolute; */
    margin-top: 90px;
    margin-left:300px;
    
  }
  .div4_innerchild{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .div4_content{
    margin:1em;
  }
  .read_more{
    /* position:absolute; */
  }
  .read_more a{
font-size: 18px;
color: #4B5563;
margin-top: 50px;
margin-left: 800px;

  }



  .footer{

  }
  .support h3{
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 800px;
    margin-top: 40px;
    font-size: 24px;
}
.support p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
   color: #6B7280;
   margin-top: 20px;
   margin-left: 700px;
   line-height: 30px;
   width: 512px;
   height: 40px;
   text-align: justify;
}
.learn{
  background-color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(242, 240, 240);
  border-radius: 5px;
  width: 100px;
  height: 50px;
  padding: 3px;
  margin-left: 700px;
  margin-top: 40px;
}
.donate{
  background-color:rgb(97, 158, 143);
  font-size: 16px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(242, 240, 240);
  border-radius: 5px;
  width: 180px;
  height: 50px;
  padding: 3px;
  margin-left:30px;
  margin-top: 40px;
}

.odin{
  display:flex;
  align-items: center;
  justify-content: center;
  /* border-bottom:1px solid #4B5563 ; */
}
.odin p{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4B5563;
  width:384px;
  height: 48px;
  margin-top: -70px;
  line-height: 30px;
  
}
.ul_section{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left: -400px;
}
.img_icon{
 display: flex;
 justify-content: center;
 align-items: center;
 /* padding:2px; */
 margin-left: -600px;
 margin-top: 10px;
}
.icons{
  margin:1em;
}
.icons:hover{
  background-color: black;
}
.ul_sub{
  margin: 4em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.ul_sub ul{
  list-style-type: none ;
  color: #4B5563;
  line-height: 40px;
  
}
.ul_sub h3{
  color: #111827;
}
.sub_li{
  margin-top: 10px;
}
.footer_p{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4B5563;
  margin-left: 340px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.box {
  margin-left: 340px;
  width: 1200px;
  position: relative;
  border-bottom: 1px solid #4B5563;
 
}
